body {
     background-image:url('https://img.freepik.com/free-photo/high-angle-people-applauding-work_23-2149636269.jpg'); 
     background-size: cover; 
  }
  #title {
    color:rgb(120, 99, 63);
    font-family: Impact;
    text-align:center;
    margin-top:50px;
  }
  #description {
    color:white;
    text-align:center;
     font-family: sans-serif;
  }
   #survey-form {
    /* color:rgb(120, 99, 63); */
    color: white;
    background-color: rgb(20, 33, 61);
     width: 50%; 
    height:970px;
    margin-left:25%;
    margin-right: 25%;
    padding-top:4%;
    padding-left:5%;
    border-radius: 15px;
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 2%;
  
  } 
#name {
   width:85%;
  height:20px;

}
#number {
  width:85%;
  height:20px;
}
#email {
  width:85%;
  height:20px;
}
#dropdown {
  width:86%;
  height:25px;
}
 .services {
  margin-top:15px;
 }
 textarea {
  width:85%;
  height: 10%;
 }
 #button {
  margin-top: 5%;
  width:85%;
  height:5%;
 background-color:rgb(120, 99, 63); 
 border:2px solid black;
  color:white;
 }
 label {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: auto;
 }
